[submodule "pt-v5-prize-pool/lib/forge-std"]
	path = pt-v5-prize-pool/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "pt-v5-prize-pool/lib/openzeppelin-contracts"]
	path = pt-v5-prize-pool/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "pt-v5-prize-pool/lib/prb-math"]
	path = pt-v5-prize-pool/lib/prb-math
	url = https://github.com/PaulRBerg/prb-math
[submodule "pt-v5-prize-pool/lib/ring-buffer-lib"]
	path = pt-v5-prize-pool/lib/ring-buffer-lib
	url = https://github.com/GenerationSoftware/ring-buffer-lib
[submodule "pt-v5-prize-pool/lib/uniform-random-number"]
	path = pt-v5-prize-pool/lib/uniform-random-number
	url = https://github.com/generationsoftware/uniform-random-number
[submodule "pt-v5-prize-pool/lib/pt-v5-twab-controller"]
	path = pt-v5-prize-pool/lib/pt-v5-twab-controller
	url = https://github.com/generationsoftware/pt-v5-twab-controller
[submodule "pt-v5-draw-manager/lib/forge-std"]
	path = pt-v5-draw-manager/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "pt-v5-draw-manager/lib/prb-math"]
	path = pt-v5-draw-manager/lib/prb-math
	url = https://github.com/PaulRBerg/prb-math
[submodule "pt-v5-draw-manager/lib/openzeppelin-contracts"]
	path = pt-v5-draw-manager/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "pt-v5-draw-manager/lib/pt-v5-prize-pool"]
	path = pt-v5-draw-manager/lib/pt-v5-prize-pool
	url = https://github.com/GenerationSoftware/pt-v5-prize-pool
[submodule "pt-v5-claimer/lib/forge-std"]
	path = pt-v5-claimer/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "pt-v5-claimer/lib/solmate"]
	path = pt-v5-claimer/lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "pt-v5-claimer/lib/prb-math"]
	path = pt-v5-claimer/lib/prb-math
	url = https://github.com/PaulRBerg/prb-math
[submodule "pt-v5-claimer/lib/openzeppelin-contracts"]
	path = pt-v5-claimer/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "pt-v5-claimer/lib/pt-v5-claimable-interface"]
	path = pt-v5-claimer/lib/pt-v5-claimable-interface
	url = https://github.com/GenerationSoftware/pt-v5-claimable-interface
[submodule "pt-v5-claimer/lib/pt-v5-prize-pool"]
	path = pt-v5-claimer/lib/pt-v5-prize-pool
	url = https://github.com/GenerationSoftware/pt-v5-prize-pool
[submodule "pt-v5-tpda-liquidator/lib/pt-v5-liquidator-interfaces"]
	path = pt-v5-tpda-liquidator/lib/pt-v5-liquidator-interfaces
	url = https://github.com/GenerationSoftware/pt-v5-liquidator-interfaces
[submodule "pt-v5-tpda-liquidator/lib/openzeppelin-contracts"]
	path = pt-v5-tpda-liquidator/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "pt-v5-rng-witnet/lib/forge-std"]
	path = pt-v5-rng-witnet/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "pt-v5-rng-witnet/lib/witnet-solidity-bridge"]
	path = pt-v5-rng-witnet/lib/witnet-solidity-bridge
	url = https://github.com/witnet/witnet-solidity-bridge
[submodule "pt-v5-rng-witnet/lib/solady"]
	path = pt-v5-rng-witnet/lib/solady
	url = https://github.com/Vectorized/solady
[submodule "pt-v5-rng-witnet/lib/pt-v5-draw-manager"]
	path = pt-v5-rng-witnet/lib/pt-v5-draw-manager
	url = https://github.com/GenerationSoftware/pt-v5-draw-manager
[submodule "pt-v5-twab-controller/lib/forge-std"]
	path = pt-v5-twab-controller/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "pt-v5-twab-controller/lib/openzeppelin-contracts"]
	path = pt-v5-twab-controller/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "pt-v5-twab-controller/lib/ring-buffer-lib"]
	path = pt-v5-twab-controller/lib/ring-buffer-lib
	url = https://github.com/generationsoftware/ring-buffer-lib
[submodule "pt-v5-vault/lib/forge-std"]
	path = pt-v5-vault/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "pt-v5-vault/lib/openzeppelin-contracts"]
	path = pt-v5-vault/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "pt-v5-vault/lib/erc4626-tests"]
	path = pt-v5-vault/lib/erc4626-tests
	url = https://github.com/a16z/erc4626-tests
[submodule "pt-v5-vault/lib/owner-manager-contracts"]
	path = pt-v5-vault/lib/owner-manager-contracts
	url = https://github.com/pooltogether/owner-manager-contracts
[submodule "pt-v5-vault/lib/brokentoken"]
	path = pt-v5-vault/lib/brokentoken
	url = https://github.com/GenerationSoftware/brokentoken
[submodule "pt-v5-vault/lib/pt-v5-prize-pool"]
	path = pt-v5-vault/lib/pt-v5-prize-pool
	url = https://github.com/GenerationSoftware/pt-v5-prize-pool
[submodule "pt-v5-vault/lib/pt-v5-twab-controller"]
	path = pt-v5-vault/lib/pt-v5-twab-controller
	url = https://github.com/generationsoftware/pt-v5-twab-controller
[submodule "pt-v5-vault/lib/pt-v5-liquidator-interfaces"]
	path = pt-v5-vault/lib/pt-v5-liquidator-interfaces
	url = https://github.com/generationsoftware/pt-v5-liquidator-interfaces
[submodule "pt-v5-vault/lib/pt-v5-claimable-interface"]
	path = pt-v5-vault/lib/pt-v5-claimable-interface
	url = https://github.com/GenerationSoftware/pt-v5-claimable-interface
[submodule "pt-v5-vault/lib/pt-v5-staking-vault"]
	path = pt-v5-vault/lib/pt-v5-staking-vault
	url = https://github.com/GenerationSoftware/pt-v5-staking-vault
